:root {
  --max: 800px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--bd-sys) var(--bg-sys);
}

*::-webkit-scrollbar {
  width: var(--pad);
  height: var(--pad);
}

*::-webkit-scrollbar-track {
  background: var(--bg-sys);
}

*::-webkit-scrollbar-thumb {
  background: var(--bd-sys);
  border-radius: var(--rad);
}

#output {
  max-height: 60vh;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
